In [15]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
from urllib.error import HTTPError
import random

In [16]:
county_raw = pd.read_excel("county_name.xls", sheet_name = "EDU01A", usecols = "A")

In [17]:
print(county_raw)

           Area_name
0      UNITED STATES
1            ALABAMA
2        Autauga, AL
3        Baldwin, AL
4        Barbour, AL
...              ...
3193  Sweetwater, WY
3194       Teton, WY
3195       Uinta, WY
3196    Washakie, WY
3197      Weston, WY

[3198 rows x 1 columns]

In [18]:
county = county_raw[~county_raw.Area_name.str.contains(",") == False]

In [19]:
county = county.reset_index(drop = True)
county = county.rename(columns={"Area_name": "county"})
print(county)

              county
0        Autauga, AL
1        Baldwin, AL
2        Barbour, AL
3           Bibb, AL
4         Blount, AL
...              ...
3140  Sweetwater, WY
3141       Teton, WY
3142       Uinta, WY
3143    Washakie, WY
3144      Weston, WY

[3145 rows x 1 columns]

In [23]:
random_counties = county.sample(n=700)
random_counties = random_counties.reset_index(drop=True)
print(random_counties)

            county
0       Jewell, KS
1    Hillsdale, MI
2         Polk, MN
3        Wayne, NC
4         Lyon, IA
..             ...
695      Keith, NE
696     Itasca, MN
697      Adams, IN
698    Elliott, KY
699     Marion, AL

[700 rows x 1 columns]

In [ ]:
#make sure when you compare to your data that you check length to be over 500