In [22]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [23]:
crime_csv = pd.read_csv("crime_data_clean.csv")
crime_df = pd.DataFrame(crime_csv)

home_ownership_csv = pd.read_csv("Homeownership_ACS.clean")
home_ownership_df = pd.DataFrame(home_ownership_csv)

In [24]:
home_ownership_df = home_ownership_df[["County", "HOR"]]
crime_df = crime_df[["county","crime_rate_per_100000"]]
crime_df = crime_df.rename(columns={"crime_rate_per_100000": "crime_rate_per_100,000"})
home_ownership_df  = home_ownership_df.rename(columns={"County": "county"})

In [25]:
crime_df.head()

           county  crime_rate_per_100,000
0   St. Louis, MO             1791.995377
1  Crittenden, AR             1754.914968
2   Alexander, IL             1664.700485
3      Kenedy, TX             1456.310680
4     De Soto, LA             1447.402430

In [26]:
home_ownership_df.head()

        county   HOR
0  Autauga, AL  73.3
1  Baldwin, AL  72.9
2  Barbour, AL  62.5
3     Bibb, AL  75.4
4   Blount, AL  78.5

In [27]:
sample_home_ownership = home_ownership_df.sample(n=650)
sample_home_ownership = sample_home_ownership.reset_index(drop=True)
sample_home_ownership.head()

          county   HOR
0     Menard, TX  66.7
1  Middlesex, CT  73.7
2       Clay, GA  64.7
3     Aurora, SD  77.6
4    Pulaski, IN  76.4

In [28]:
crime_analysis = sample_home_ownership.merge(crime_df, on="county")
crime_analysis.head()

          county   HOR  crime_rate_per_100,000
0     Menard, TX  66.7              186.219739
1  Middlesex, CT  73.7               80.936447
2       Clay, GA  64.7               65.681445
3     Aurora, SD  77.6                0.000000
4    Pulaski, IN  76.4              215.268701

In [29]:
len(crime_analysis)

625