In [88]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [89]:
crime_csv = pd.read_csv("crime_data.csv")
crime_df = pd.DataFrame(crime_csv)
crime_df = crime_df[["county_name","crime_rate_per_100000"]]
crime_df= crime_df.rename(columns = {"county_name":"county"})
crime_df.head()

                  county  crime_rate_per_100000
0     St. Louis city, MO            1791.995377
1  Crittenden County, AR            1754.914968
2   Alexander County, IL            1664.700485
3      Kenedy County, TX            1456.310680
4     De Soto Parish, LA            1447.402430

In [90]:
crime_df['county'].replace(regex=True,inplace=True,to_replace=r' County',value=r'')
crime_df['county'].replace(regex=True,inplace=True,to_replace=r' Parish',value=r'')
crime_df['county'].replace(regex=True,inplace=True,to_replace=r' city',value=r'')
crime_df['county'].replace(regex=True,inplace=True,to_replace=r' Borough',value=r'')
crime_df['county'].replace(regex=True,inplace=True,to_replace=r' Census Area',value=r'')
print(crime_df)

              county  crime_rate_per_100000
0      St. Louis, MO            1791.995377
1     Crittenden, AR            1754.914968
2      Alexander, IL            1664.700485
3         Kenedy, TX            1456.310680
4        De Soto, LA            1447.402430
...              ...                    ...
3131        Ohio, IN               0.000000
3132      Newton, MS               0.000000
3133     Jerauld, SD               0.000000
3134    Cimarron, OK               0.000000
3135    Lawrence, MS               0.000000

[3136 rows x 2 columns]

In [91]:
county_raw = pd.read_excel("county_name.xls", sheet_name = "EDU01A", usecols = "A")
county = county_raw[~county_raw.Area_name.str.contains(",") == False]
county = county.reset_index(drop = True)
county = county.rename(columns={"Area_name": "county"})

In [92]:
crime_t_df = crime_df.merge(county, on="county", how="inner")
crime_test_df.head()

           county  crime_rate_per_100000
0   St. Louis, MO            1791.995377
1   St. Louis, MO             303.361945
2  Crittenden, AR            1754.914968
3   Alexander, IL            1664.700485
4      Kenedy, TX            1456.310680

In [93]:
len(crime_test_df)

3140

In [94]:
crime_test_df.to_csv("test.csv")