In [23]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statsmodels.api as sm
from scipy.stats import linregress

In [24]:
GDP_csv = pd.read_csv("GDP.clean")
GDP_df = pd.DataFrame(GDP_csv)

home_ownership_csv = pd.read_csv("Homeownership_ACS.clean")
home_ownership_df = pd.DataFrame(home_ownership_csv)

crime_csv = pd.read_csv("crime_data_clean.csv")
crime_df = pd.DataFrame(crime_csv)

post_secondary_csv = pd.read_csv("post_sec_data_clean.csv")
post_secondary_df = pd.DataFrame(post_secondary_csv)

poverty_csv = pd.read_csv("Poverty_Total_Clean2.csv")
poverty_df = pd.DataFrame(poverty_csv)

In [25]:
del GDP_df['Unnamed: 0']
GDP_df = GDP_df.rename(columns={"County": "county"})
GDP_df.head()

        county        GDP
0  Autauga, AL  1539406.0
1  Baldwin, AL  6436107.0
2  Barbour, AL   743779.0
3     Bibb, AL   322307.0
4   Blount, AL   819608.0

In [26]:
del home_ownership_df['Unnamed: 0']
home_ownership_df  = home_ownership_df.rename(columns={"County": "county"})
home_ownership_df.head()

    HOR       county
0  73.3  Autauga, AL
1  72.9  Baldwin, AL
2  62.5  Barbour, AL
3  75.4     Bibb, AL
4  78.5   Blount, AL

In [27]:
del crime_df['Unnamed: 0']
crime_df.head()

           county  crime_rate_per_100000
0   St. Louis, MO            1791.995377
1  Crittenden, AR            1754.914968
2   Alexander, IL            1664.700485
3      Kenedy, TX            1456.310680
4     De Soto, LA            1447.402430

In [28]:
del post_secondary_df['Unnamed: 0']
post_secondary_df.head()

            county  counts
0  Los Angeles, CA     228
1         Cook, IL     125
2     Maricopa, AZ      92
3     New York, NY      91
4   Miami-Dade, FL      88

In [29]:
# del post_secondary_df['Unnamed: 0']
poverty_df.head()

   Unnamed: 0  Total       county
0           0   1425  Autauga, AL
1           1   3418  Baldwin, AL
2           2    671  Barbour, AL
3           3    787     Bibb, AL
4           4   1667   Blount, AL

In [30]:
sample_home_ownership = home_ownership_df.sample(n=650)
sample_home_ownership = sample_home_ownership.reset_index(drop=True)
sample_home_ownership.head()

    HOR       county
0  53.3    Latah, ID
1  68.7  Portage, OH
2  65.2     Coos, OR
3  67.7  Windham, VT
4  52.3     Pitt, NC

In [32]:
GDP_analysis = sample_home_ownership.merge(GDP_df, on="county")
GDP_analysis.head()

    HOR       county        GDP
0  53.3    Latah, ID  1204060.0
1  68.7  Portage, OH  5569388.0
2  65.2     Coos, OR  1756010.0
3  67.7  Windham, VT  2341955.0
4  52.3     Pitt, NC  8031786.0

In [33]:
crime_analysis = GDP_analysis.merge(crime_df, on="county")
crime_analysis.head()

    HOR       county        GDP  crime_rate_per_100000
0  53.3    Latah, ID  1204060.0             149.692736
1  68.7  Portage, OH  5569388.0              82.996668
2  65.2     Coos, OR  1756010.0             186.249639
3  67.7  Windham, VT  2341955.0             232.574048
4  52.3     Pitt, NC  8031786.0             399.396315

In [34]:
post_sec_analysis = crime_analysis.merge(post_secondary_df, on="county")
post_sec_analysis.head()

    HOR       county        GDP  crime_rate_per_100000  counts
0  53.3    Latah, ID  1204060.0             149.692736       3
1  68.7  Portage, OH  5569388.0              82.996668       6
2  65.2     Coos, OR  1756010.0             186.249639       1
3  67.7  Windham, VT  2341955.0             232.574048       5
4  52.3     Pitt, NC  8031786.0             399.396315       5