In [67]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statsmodels.api as sm
from scipy.stats import linregress

In [68]:
GDP_csv = pd.read_csv("GDP.clean")
GDP_df = pd.DataFrame(GDP_csv)

home_ownership_csv = pd.read_csv("Homeownership_ACS.clean")
home_ownership_df = pd.DataFrame(home_ownership_csv)

crime_csv = pd.read_csv("crime_data_clean.csv")
crime_df = pd.DataFrame(crime_csv)

post_secondary_csv = pd.read_csv("post_sec_data_clean.csv")
post_secondary_df = pd.DataFrame(post_secondary_csv)

poverty_csv = pd.read_csv("Poverty_Total_Clean2.csv")
poverty_df = pd.DataFrame(poverty_csv)

Income_Data = pd.read_csv("income_data_clean")
Income_df = pd.DataFrame(Income_Data)

poverty_csv = pd.read_csv("Poverty_Total_Clean_3.csv")
poverty_df = pd.DataFrame(poverty_csv)

In [69]:
del GDP_df['Unnamed: 0']
GDP_df = GDP_df.rename(columns={"County": "county"})
GDP_df.head()

        county        GDP
0  Autauga, AL  1539406.0
1  Baldwin, AL  6436107.0
2  Barbour, AL   743779.0
3     Bibb, AL   322307.0
4   Blount, AL   819608.0

In [70]:
del home_ownership_df['Unnamed: 0']
home_ownership_df  = home_ownership_df.rename(columns={"County": "county"})
home_ownership_df.head()

    HOR       county
0  73.3  Autauga, AL
1  72.9  Baldwin, AL
2  62.5  Barbour, AL
3  75.4     Bibb, AL
4  78.5   Blount, AL

In [71]:
del crime_df['Unnamed: 0']
crime_df.head()

           county  crime_rate_per_100000
0   St. Louis, MO            1791.995377
1  Crittenden, AR            1754.914968
2   Alexander, IL            1664.700485
3      Kenedy, TX            1456.310680
4     De Soto, LA            1447.402430

In [72]:
del post_secondary_df['Unnamed: 0']
post_secondary_df.head()

            county  counts
0  Los Angeles, CA     228
1         Cook, IL     125
2     Maricopa, AZ      92
3     New York, NY      91
4   Miami-Dade, FL      88

In [73]:
del poverty_df['Unnamed: 0']
poverty_df.head()

   Total       county  population  Poverty_Rate
0   1425  Autauga, AL       55246      2.579372
1   3418  Baldwin, AL      195540      1.747980
2    671  Barbour, AL       27076      2.478209
3    787     Bibb, AL       22512      3.495913
4   1667   Blount, AL       57872      2.880495

In [74]:
del Income_df['Unnamed: 0']
Income_df.head()

        county   2015
0  Autauga, AL  38591
1  Baldwin, AL  41412
2  Barbour, AL  31509
3     Bibb, AL  29048
4   Blount, AL  31987

In [75]:
sample_home_ownership = home_ownership_df.sample(n=650)
sample_home_ownership = sample_home_ownership.reset_index(drop=True)
sample_home_ownership.head()

    HOR                      county
0  59.4  Aleutians East Borough, AK
1  55.4                     Lee, AR
2  80.8                    Hyde, SD
3  36.3                 Suffolk, MA
4  76.3                    Polk, AR

In [76]:
GDP_analysis = sample_home_ownership.merge(GDP_df, on="county")
GDP_analysis.head()

    HOR                      county          GDP
0  59.4  Aleutians East Borough, AK     183614.0
1  55.4                     Lee, AR     191056.0
2  80.8                    Hyde, SD      86520.0
3  36.3                 Suffolk, MA  135075953.0
4  76.3                    Polk, AR     420149.0

In [77]:
crime_analysis = GDP_analysis.merge(crime_df, on="county")
crime_analysis.head()

    HOR       county          GDP  crime_rate_per_100000
0  55.4      Lee, AR     191056.0             129.805292
1  80.8     Hyde, SD      86520.0               0.000000
2  36.3  Suffolk, MA  135075953.0             831.234290
3  76.3     Polk, AR     420149.0             289.130648
4  77.6    Tyler, WV     301397.0             211.228460

In [78]:
post_sec_analysis = crime_analysis.merge(post_secondary_df, on="county")
post_sec_analysis.head()

    HOR        county          GDP  crime_rate_per_100000  counts
0  36.3   Suffolk, MA  135075953.0             831.234290      35
1  76.3      Polk, AR     420149.0             289.130648       1
2  68.1   Chemung, NY    3603274.0             250.830452       4
3  74.2   Letcher, KY     335065.0              38.104916       1
4  80.0  Cherokee, NC     648645.0             194.724080       1

In [79]:
poverty_analysis= post_sec_analysis.merge(poverty_df, on="county")
poverty_analysis.head()

,HOR,county,GDP,crime_rate_per_100000,counts,Total,population,Poverty_Rate
0,36.3,"Suffolk, MA",135075953.0,831.234290,35,13474,755503,1.783448
1,76.3,"Polk, AR",420149.0,289.130648,1,596,20406,2.920710
2,68.1,"Chemung, NY",3603274.0,250.830452,4,1392,88506,1.572775
3,74.2,"Letcher, KY",335065.0,38.104916,1,727,23619,3.078030
4,80.0,"Cherokee, NC",648645.0,194.724080,1,708,27218,2.601220

In [80]:
income_analysis = poverty_analysis.merge(Income_df, on="county")
income_analysis.head()

,HOR,county,GDP,crime_rate_per_100000,counts,Total,population,Poverty_Rate,2015
0,36.3,"Suffolk, MA",135075953.0,831.234290,35,13474,755503,1.783448,67453
1,68.1,"Chemung, NY",3603274.0,250.830452,4,1392,88506,1.572775,40156
2,74.2,"Letcher, KY",335065.0,38.104916,1,727,23619,3.078030,29375
3,80.0,"Cherokee, NC",648645.0,194.724080,1,708,27218,2.601220,30657
4,71.8,"Chesterfield, SC",1387832.0,476.221400,1,1714,46197,3.710198,27703

In [81]:
x = income_analysis[['crime_rate_per_100000','GDP','counts','Poverty_Rate','2015']]
y = income_analysis['HOR']
x = sm.add_constant(x)
est = sm.OLS(y, x).fit()
est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    HOR   R-squared:                       0.241
Model:                            OLS   Adj. R-squared:                  0.224
Method:                 Least Squares   F-statistic:                     13.98
Date:                Mon, 09 Sep 2019   Prob (F-statistic):           7.15e-12
Time:                        20:32:20   Log-Likelihood:                -756.54
No. Observations:                 226   AIC:                             1525.
Df Residuals:                     220   BIC:                             1546.
Df Model:                           5
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    69.4769      2.709     25.642      0.000      64.137      74.817
crime_rate_per_100000    -0.0080      0.003     -2.967      0.003      -0.013      -0.003
GDP                   -7.943e-08   6.09e-08     -1.305      0.193   -1.99e-07    4.06e-08
counts                   -0.2601      0.177     -1.468      0.144      -0.609       0.089
Poverty_Rate              0.5921      0.325      1.822      0.070      -0.048       1.232
2015                   4.823e-05   5.76e-05      0.837      0.403   -6.53e-05       0.000
==============================================================================
Omnibus:                       40.810   Durbin-Watson:                   1.914
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               74.597
Skew:                          -0.931   Prob(JB):                     6.33e-17
Kurtosis:                       5.110   Cond. No.                     1.24e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.24e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""